.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7cc6fe;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  height: 50%;
  border-radius: 7px;
  padding: 5px;
}
.title {
  margin-top: 10%;
  font-size: 3rem;
}
.description {
  margin-top: 10%;
  font-size: 1rem;
}
